.background {
	background-color: #fff;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.background-apostle {
	background-image: url(../img/background/apostle.jpg);
}

.background-ministers {
	background-image: url(../img/background/ministers.jpg);
}

.background-province {
	background-image: url(../img/background/province.jpg);
}