.btn {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.btn-flat {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.btn-primary {
	background-color: #305295;
}

.btn-primary:focus,
.btn-primary:hover {
	background-color: #103073;
}