@font-face {
	font-family: NotoSerifRegular;
	src: url(../font/NotoSerif-Regular.ttf);
}

@font-face {
	font-family: RobotoLight;
	src: url(../font/Roboto-Light.ttf);
}

@font-face {
	font-family: RobotoMedium;
	src: url(../font/Roboto-Medium.ttf);
}

@font-face {
	font-family: RobotoRegular;
	src: url(../font/Roboto-Regular.ttf);
}


body {
	font-family: RobotoLight;
}

h2,
.news-source-icon,
.news-source-title {
	font-family: NotoSerifRegular;
}

.news-source-meta {
	font-family: RobotoMedium;
}