.news-article {
	overflow: hidden;
}

.news-image-holder {
	background-size: contain;
	overflow: hidden;
}

.news-list-description {
	color: #2d2d2d;
	padding: 15px 25px;
}

.news-list-description p {
	margin: 15px 0;
}

.news-list-header {
	background-color: #6D6D6D;
	background-position: center center;
	background-size: 100%;
	height: 300px;
	overflow: hidden;
}

.news-list-gradient {
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.5)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	height: 100%;
}

.news-list-title {
	color: #fff;
	height: 100%;
	padding: 0 30px;
	position: relative;
	top: 200px;
}

.news-link,
.news-link:focus,
.news-link:hover {
	color: #fff;
	text-decoration: none;
}

.news-source {
	color: #6D6D6D;
}

.news-source-footer {
	margin: 15px 0;
}

.news-source-icon {
	color: #fff;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	float: left;
	font-weight: bold;
	height: 30px;
	margin-bottom: 10px;
	margin-right: 15px;
	text-align: center;
	width: 30px;
}

.news-source-icon-Externa {
	background-color: #DE6618;
}

.news-source-icon-Externa:before {
	content: 'E';
}

.news-source-icon-Local {
	background-color: #3D65B6;
	color: #E5F0FA;
}

.news-source-icon-Local:before {
	content: 'L';
}

.news-source-icon-Anuncio {
	background-color: #71C149;
	color: #E5F0FA;
}

.news-source-icon-Anuncio:before {
	content: 'A';
}

.news-source-meta {
	color: #929292;
}

.news-source-title {
	color: #6D6D6D;
}

.news-title {
	color: #6d6d6d;
}

@media (max-width: 1152px) {
	.news-article {
		font-size: 18px;
		line-height: 26px;
		padding: 0 50px;
	}

	.news-list-description {
		font-size: 22px;
	}

	.news-list-title {
		font-size: 31px;
		top: 150px;
	}

	.news-source-footer {
		padding-left: 650px;
	}

	.news-source-title {
		font-size: 26px;
	}

	.news-source-meta {
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	.news-source-footer {
		padding-left: 450px;
	}
}

@media (max-width: 720px) {
	.news-article {
		padding: 0 30px;
	}

	.news-image-holder {
		background-size: cover;
	}

	.news-list-description {
		font-size: 18px;
	}

	.news-list-header {
		background-size: cover;
	}

	.news-source-footer {
		padding-left: 350px;
	}
}