.icon {
	background-image: url(../img/sprite/icon.png);
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: middle;
}

.icon-back {
	background-position: 0 0;
	height: 42px;
	width: 42px;
}

.icon-front {
	background-position: 0 -50px;
	height: 42px;
	width: 42px;
}

.icon-notes {
	background-position: 0 -100px;
	height: 27px;
	width: 27px;
}

.icon-clock {
	background-position: 0 -130px;
	height: 25px;
	width: 25px;
}

.icon-view {
	background-position: 0 -160px;
	height: 19px;
	width: 29px;
}

.icon-comments {
	background-position: 0 -180px;
	height: 21px;
	width: 22px;
}

.icon-power {
	background-position: 0 -210px;
	height: 21px;
	width: 20px;
}

.icon-language {
	background-position: 0 -230px;
	height: 18px;
	width: 22px;
}

.icon-filter {
	background-position: 0 -250px;
	height: 22px;
	width: 22px;
}

.icon-favorite {
	background-position: 0 -280px;
	height: 22px;
	width: 17px;
}

.icon-read {
	background-position: 0 -310px;
	height: 15px;
	width: 22px;
}

.icon-comment {
	background-position: 0 -330px;
	height: 19px;
	width: 20px;
}