.well-overlay {
	background-color: rgba(235, 235, 235, .8);
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	/*opacity: .75;
	-moz-opacity: .75;
	-webkit-opacity: .75;*/
	padding: 30px;
}

.well-overlay h1 {
	color: #3D65B6;
	font-size: 24px;
	margin-bottom: 60px;
	text-align: center;
}

.well-overlay .btn-primary {
	margin-bottom: 60px;
}

.well-overlay .form-group {
	margin-bottom: 45px;
}